#editor {
    width: 90vw;
    height: 50vh;
    margin: 2%;
    margin-top: 70px;
    padding: 10px;
    background-color: #1c1c1c;
    color: #ededed;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

#preview {
    width: 85vw;
    margin: 2%;
    padding: 0 3%;
    white-space: pre-wrap;
    background: #dedcdc;
    background-image: radial-gradient(#b5b5b5 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -19px -19px;
}

img {
    max-width: 85vw;
    display: block;
    margin: 0;
    padding: 0;
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .App {
        display: flex;
    }
    #input-box {
        flex: 1;
    }
    #editor {
        width: 45vw;
        height: 85vh;
    }
    #output-box {
        flex: 1;
    }
    #preview {
        width: 45vw;
        margin-top: 70px;
    }
    img {
        max-width: 45vw;
    }
}

p {
    line-height: 1.4em;
}

pre {
    margin: 10px;
    background-color: #f9f9f9;
    border: 1px solid black;
    padding: 1em 15px;
    width: 90%;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

code {
    background-color: #f9f9f9;
    line-height: 1em;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin-left: 10px;
    margin-bottom: 20px;
}

blockquote p {
    margin: 10px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 3px 10px;
    text-align: left;
}

ul, ol {
    margin: 0;
}

html {
    /* background-color: #181a1b !important; */
    background-color: rgb(43, 47, 49) !important;
}
html, body, input, textarea, select, button {
    background-color: #181a1b;
}
html, body, input, textarea, select, button {
    border-color: #736b5e;
    color: #e8e6e3;
}
a {
    color: #3391ff;
}
table {
    border-color: #545b5e;
}
::placeholder {
    color: #b2aba1;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #555b00 !important;
    color: #e8e6e3 !important;
}
::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
}
::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
* {
    scrollbar-color: #202324 #454a4d;
}
::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}
::-moz-selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}

/* Invert Style */
.jfk-bubble.gtx-bubble, embed[type="application/pdf"] {
    filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
}

/* Override Style */
.vimvixen-hint {
    background-color: #7b5300 !important;
    border-color: #d8b013 !important;
    color: #f3e8c8 !important;
}
::placeholder {
    opacity: 0.5 !important;
}

/* Variables Style */
:root {
   --darkreader-neutral-background: #181a1b;
   --darkreader-neutral-text: #e8e6e3;
   --darkreader-selection-background: #004daa;
   --darkreader-selection-text: #e8e6e3;
}

/* Modified CSS */
.hljs {
    background-image: initial;
    background-color: rgb(32, 35, 37);
}
.hljs,
.hljs-subst {
    color: rgb(189, 183, 175);
}
.hljs-comment {
    color: rgb(157, 148, 136);
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
    color: rgb(255, 109, 109);
}
.hljs-section,
.hljs-title {
    color: rgb(255, 109, 109);
}
.hljs-link,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: rgb(193, 108, 108);
}
.hljs-literal {
    color: rgb(132, 177, 111);
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
    color: rgb(189, 255, 124);
}
.hljs-meta {
    color: rgb(105, 186, 225);
}
.hljs-meta-string {
    color: rgb(93, 162, 197);
}
body {
    background-color: rgb(43, 47, 49);
}
#editor {
    background-color: rgb(21, 23, 24);
    color: rgb(221, 218, 213);
}
#preview {
    background-color: rgb(43, 47, 49);
    background-image: radial-gradient(rgb(66, 71, 74) 1px,
    rgba(0, 0, 0, 0) 0px);
}
pre {
    border-color: rgb(140, 130, 115);
}
code,
pre {
    background-color: rgb(27, 30, 31);
}
blockquote {
    background-image: initial;
    background-color: rgb(27, 30, 31);
    border-left-color: rgb(62, 68, 70);
}
table,
td,
th {
    border-color: rgb(140, 130, 115);
}

.github-header-link {
    color: white
}
