#editor {
  width: 90vw;
  height: 50vh;
  margin: 2%;
  margin-top: 70px;
  padding: 10px;
  background-color: #1c1c1c;
  color: #ededed;
  -moz-tab-size: 4;
  -o-tab-size:   4;
  tab-size:      4;
}

#preview {
  width: 85vw;
  margin: 2%;
  padding: 0 3%;
  white-space: pre-wrap;
  background: #dedcdc;
  background-image: radial-gradient(#b5b5b5 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px;
}

img {
  max-width: 85vw;
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  .App {
    display: flex;
  }
  #input-box {
    flex: 1;
  }
  #editor {
    width: 45vw;
    height: 85vh;
  }
  #output-box {
    flex: 1;
  }
  #preview {
    width: 45vw;
    margin-top: 70px;
  }
  img {
    max-width: 45vw;
  }
}

p {
  line-height: 1.4em;
}

pre {
  margin: 10px;
  background-color: #f9f9f9;
  border: 1px solid black;
  padding: 1em 15px;
  width: 90%;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}

code {
  background-color: #f9f9f9;
  line-height: 1em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin-left: 10px;
  margin-bottom: 20px;
}

blockquote p {
  margin: 10px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 3px 10px;
  text-align: left;
}

ul, ol {
  margin: 0;
}

.github-header-link {
  color: black
}
